services:
  db:
    image: postgres:14-alpine
    container_name: weather-db
    environment:
      POSTGRES_USER: ${DATABASE_LOGIN}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}
    restart: on-failure
    volumes:
      - db:/var/lib/postgresql/data
    ports:
      - "${DB_PORT}:5432"
    command: postgres -c timezone=Europe/Moscow
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 2s
      timeout: 2s
      retries: 3
    networks: [weather_net]

  weather-backend:
    build:
      context: ./src
      dockerfile: Dockerfile
    container_name: weather-backend
    ports:
      - ${BACKEND_PORT}:8000
    environment:
      - OPEN_WEATHER_KEY=${OPEN_WEATHER_KEY}
      - DATABASE_HOST=${DATABASE_HOST}
      - DATABASE_PORT=${DATABASE_PORT}
      - DATABASE_NAME=${DATABASE_NAME}
      - DATABASE_LOGIN=${DATABASE_LOGIN}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
    depends_on:
      db:
        condition: service_healthy
    networks: [weather_net]

networks:
  weather_net:
    external: false

volumes:
  db: